form {
    min-width: 50%;
}

.data-wrap {
    border: 1px solid #6976ec;
    border-radius: 10px;
}

.red-border {
    border: 2px solid #c02d2d;
    background-color: #e7bcbc;
    padding: 5px;
    border-radius: 5px;
}
